@import "normalize.css";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Tomorrow, Arial, 'sans-serif';
  background-color: #fff;
}

button {
  cursor: pointer;
}

.container {
  height: 100vh;
  background-color: #F3F3F3;
}


// SignIn and Register

.form-box {
  display: flex;
  flex-direction: column;
  gap: 1.375em;
}

.form-box input, button {
  height: 40px;
}

.form-box input {
  padding-left: 15px;
}

.form-box input:focus {
  outline: 0;
}

.form-box button {
  border: 0;
  color: #fff;
  background-color: #338eff;
  border-radius: 5px;
  cursor: pointer;

  transition: background-color .2s;
}

.form-box button:hover {
  background-color: #1d80ff;
}

.form-box button:disabled {
  background-color: #7492ff;
  cursor: not-allowed;
}

.field-error, .bad-request {
  color: red;
  font-size: 15px;
}

.bad-request {
  text-align: center;
}

// -----------------------------

